@import './styles.css';

html {
  margin: 0;
  padding: 0;
}

body {
  width: 500px;
  min-height: 200px;
  max-height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
