@import './styles.css';

html {
  margin: 0;
  padding: 0;
}

body {
  width: 500px;
  min-height: 200px;
  max-height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: oklch(0.147 0.004 49.3);
  color: oklch(0.986 0.002 67.8);
}

#root {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
